<h1> Find hotels for given dates and city </h1>

<form action = "/hotels" method = "POST">
	 <p>City <input type = "text" name = "city" /></p>
	 <p>Checkin <input type = "text" name = "checkin" /></p>
	 <p>Checkout <input type = "text" name = "checkout" /></p>
	 <p><input type = "submit" value = "Search" /></p>
</form>